body {
	background-color: grey;
}

/*.profile {
    border-style: solid;
    border-width: 5px;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 80px;
    left: 300px;
}

.Newsfeed {
border-style: solid;
    border-width: 5px;
    width: 650px;
    height: 630px;
    position: absolute;
    top: 120px;
    right: 260px;
}

.Spare {
	border-style: solid;
	border-width: 5px;
	width: 300px;
    height: 300px;
    position: absolute;
    top: 500px;
    left: 300px;
} */


@media only screen and (min-width: 320px) and (max-width: 479px){
	.profile {
    background-color: yellow;
    border-style: solid;
    border-width: 2px;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 90px;
    left: 15px;
}

.Newsfeed {
    border-style: solid;
    border-width: 2px;
    width: 165px;
    height: 296px;
    position: absolute;
    top: 90px;
    right: 15px;
}

.Spare {
    border-style: solid;
    border-width: 2px;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 245px;
    left: 15px;
}
}

@media only screen and (min-width: 480px) and (max-width: 767px){ 
.profile {
	background-color: white;
    border-style: solid;
    border-width: 5px;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 80px;
    left: 300px;
}

.Newsfeed {
border-style: solid;
    border-width: 5px;
    width: 650px;
    height: 630px;
    position: absolute;
    top: 120px;
    right: 260px;
}

.Spare {
	border-style: solid;
	border-width: 5px;
	width: 300px;
    height: 300px;
    position: absolute;
    top: 500px;
    left: 300px;
}
}

@media only screen and (min-width: 768px) and (max-width: 991px){
	.profile {
		background-color: green;
    border-style: solid;
    border-width: 5px;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 80px;
    left: 300px;
}

.Newsfeed {
border-style: solid;
    border-width: 5px;
    width: 650px;
    height: 630px;
    position: absolute;
    top: 120px;
    right: 260px;
}

.Spare {
	border-style: solid;
	border-width: 5px;
	width: 300px;
    height: 300px;
    position: absolute;
    top: 500px;
    left: 300px;
}
}

@media only screen and (min-width: 992px) and (max-width: 1999px){
.profile {
	background-color: blue;
    border-style: solid;
    border-width: 5px;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 80px;
    left: 300px;
}

.Newsfeed {
border-style: solid;
    border-width: 5px;
    width: 650px;
    height: 630px;
    position: absolute;
    top: 120px;
    right: 260px;
}

.Spare {
	border-style: solid;
	border-width: 5px;
	width: 300px;
    height: 300px;
    position: absolute;
    top: 500px;
    left: 300px;
}	

}